<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC4gaFcLxN8iT7xm6JeIM7Iou-efE5g5SM</string>
	<key>GCM_SENDER_ID</key>
	<string>946448575860</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yourwish.nihonryoudodefence</string>
	<key>PROJECT_ID</key>
	<string>apps2-752cb</string>
	<key>STORAGE_BUCKET</key>
	<string>apps2-752cb.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:946448575860:ios:e59a3ae6f5fba47237d021</string>
</dict>
</plist>